.border
{
  border-radius:5px;
  background-color: white;
  padding:5px;
  margin:5px;
  display: inline-flex;
}

.footer
{
  background-color: grey;
  padding:5px;
  margin:5px;
  display:inline-flex;
}
