.border
{
  background-color: grey;
  border-radius: 5px;
  padding:5px;
  margin:5px;
  user-select: none;
  font-family:sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;

  .menu
  {
    cursor:pointer;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color:black;
  }
}
